.card{
    background-color:aquamarine;
    border-radius: 9.978px;
    background: var(--n-white, #FFF);
    box-shadow: 0px 3.6282050609588623px 3.6282050609588623px 0px rgba(0, 0, 0, 0.32);
        min-height: 430px;
        display: flex;
        flex-direction: column;
        width: 250px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: #48114D;
}

#card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr)); /* Crea columnas automáticas con un ancho mínimo de 300px */
    gap: 40px;
    padding: 10%;
}


.card-img-top{
    display: inline-flex;
    max-height: 180px;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 5.393px solid var(--p-1-purple-strong, #48114D);
    background: lightgray 50% / cover no-repeat;
}

.card h2{
    padding-left:5px;
    padding-bottom: 0px;
}

.card h3{
    padding-top: 0px;
    padding-left:5px;
}