@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');

:root,
[data-bs-theme=light]{
--bs-danger: #48114D;}




body,html{
    background-color:#FDDBDB;
    font-family:'Cabin', sans-serif; 

}