
body{
  background-color: #F9EAEA;
}



.container-fluid {
  margin-bottom: 100px; /* Ajusta el valor según el espacio adicional que deseas agregar */
}

.btn-primary {
    background-color: rgb(105, 48, 105);
    color: white;
    border: none;
    flex: 1;
    font-family: 'Cabin', sans-serif
  }

.h6 {
  font-family: 'Cabin', sans-serif
}

/* .custom-hr {
  width: 100%;
  border-top: 1px solid #602F6B;
} */

/* Pasarela 1, botón confirmar */
.btn-primary{
  color: white;
  background: #602F6B;
  border-radius: 7px;
  display: block;
  margin: 0 auto;
  transition: background 0.3s, color 0.3s, transform 0.3s;
  width: 175px; /* Ajusta el ancho del botón según tus preferencias */
  height: 40px; /* Ajusta el alto del botón según tus preferencias */
  font-size: 18px;
  font-family: 'Cabin', sans-serif
}

.btn-primary:hover{
  background:rgb(225, 194, 231);
  color: #602F6B;
  transform:scale(1.2)
}