:root,
[data-bs-theme=light] {
    --bs-danger: #48114D;
}


@media (max-width: 566px) {
    .cardMAsVendidas {
        flex-direction: column; /* Cambia la dirección de flex a columna */
        align-items: center;
        padding-left: 50px; /* Centra verticalmente las cards */
    }
}

.LosMas {
    background-image: url(src/img/fondo_cards.svg);
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
}

.LosMas h1,
a {
    color: var(--bs-danger);
    padding-top: 30px;
    text-align: center;
}

.LosMas h3 {
    color: var(--bs-danger);
    text-align: center;
}

.cardMAsVendidas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;
}

.rowMas{
padding-left: 60px;
    
}
