:root,
[dara-bs-theme=light] {
    --bs-danger: #48114D;
}


.Nosotros-cont {
    background-image: url(src/img/fondo_nosotros.svg);
    background-size: cover;
    background-position: center;
    width: auto;
    min-height: 500px;
    max-height: fit-content;
    padding-top: 5%;
    text-align: center;
    
}

.Nos-hash {
    color: white;
    background-color: #48114D;
}


.Nos-tejidos,.Nos-p,.Nos-somos{
    color: #48114D;
}





