/* Estilos para posicionar el contenido del carrito */

  .carrito-contenido {
    position: absolute;
    top: 100%;
    left: 0;
    background:white;
    border: 1px solid #48114D;
    width: 200px;
    display: none;
  }
  
  .carrito-button:hover .carrito-contenido {
    display: block;
  }
  