
.producto {
    border: 8px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    color: #48114D;
  }
.btn-custom {
width: 10px;
height: 10px;
}

.titulo-principal{
color: var(--p-1-purple-strong, #48114D);
text-align: start;
font-family: Cabin;
font-size: 45.78px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 20px;

text-align: center;
  }

main{
  align-items: center;
}

.contenedor-carrito{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
@media (max-width: 768px) {
  .contenedor-carrito {
    padding: 0; /* Puedes ajustar este valor según tus necesidades */
  }
}

.fondoCarrito{

  background-image: url(client/src/img/fondo_cards.svg);
}
.btnComprar{
  margin-left:600px;
  margin-top: 50px;
  font-size: 40px;
  background-color: #48114D;
  color: white;
  padding: 20px;
  text-decoration: none;
  border-radius: 5px;

}

.totalCarritoti{
color:#48114D;
margin-left: 55%;

}


.botonComprarCar{
  display: flex;
width: 105px;
height: 32px;
justify-content: center;
align-items: center;
flex-shrink: 0;
background-color: #48114D;
color: white;
}

.botonComprarCar:hover{
background-color:#6F275D;
color:white;
}

.totalBoton{
  display: flex;
  justify-content: space-between; /* Distribuye los elementos alineados en todo el espacio disponible */
  align-items: center;
}

.botonDeEnMedio:hover{
  background-color:transparent;
  color: #48114D;
  border: #48114D solid;

}

.btn-outline:hover{
  background-color: #6F275D;
}

.botonEliminar:hover{
  color:#6F275D;


}