/* Estilos CSS */
.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease-in-out;
  overflow: auto;
}


.card {
  flex: 1 1 auto; 
  margin-right: 2rem;
  /* Agrega otros estilos para tus tarjetas */
}
@media (max-width: 768px) {
  .card {
    margin-right: 1rem; /* Reducir el margen en pantallas más pequeñas */
  }
}

.SugCarr {
  color: var(--p-1-purple-strong, #48114D);
  text-align: center;
  font-size: 45.78px;
  font-style: normal;
  font-weight: 700;

}

.BasCarr {
  color: var(--p-1-purple-strong, #48114D);
  text-align: center;
  font-family: Cabin;
  font-size: 29.3px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  
}

.carrusel-item{
  background-color: aqua;

}
.card:last-child {
  margin-right: 0; /* Eliminar el margen derecho en el último elemento */
}
.card-container {
  display: flex;
}
