/* Estilos CSS */
.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;
  }
  
  .card {
    flex: 0 0 calc(33.33% - 1rem);
    margin-right: 2rem;
    /* Agrega otros estilos para tus tarjetas */
  }
  
