.boton-form{
    background-color: #6F275D ;
    border: #6F275D;
    color: white;
}

.boton-form:hover{
    border:#6F275D solid ;
    background-color: white;
    color:#6F275D;
}



.boton-form {
    background-color: #6F275D;
    border: #6F275D;
    color: white;
    padding: 90px;
    margin: 90px;
  }
  
  .boton-form:disabled{
    padding: 80px;
    background-color: #6F275D;
   
  }
  
  .boton-form:hover {
    border: #6F275D solid;
    background-color: white;
    color: #6F275D;
  }
  
  
  .form-element{
    display: inline-block;
    text-align: left; 
  }
  

  .botonFormulario{
    margin-left: 40%;
    background-color:   #48114D;
    color: white;

  }
  
  .botonFormulario:hover{
    margin-left: 40%;
    background-color:   #6F275D;
    color: white;

  }
  