.boton-form {
  background-color: #6F275D;
  border: #6F275D;
  color: white;
}

.boton-form:hover {
  border: #6F275D solid;
  background-color: white;
  color: #6F275D;
}


.form-container {
max-width: 500px;
align-items: start;
max-height: 500px;
}

.form-element{
  display: inline-block;
  width: 50%;
  text-align: left; 
}