/* Establecer estilos generales para el footer */
.contFoo {
  background-color: #48114d;
  padding: 20px 0;
  color: white;
}

/* Estilizar los elementos de la lista */
.bottom-bar-section {
  text-align: center;
}

.bottom-bar-link {
  color: white;
  text-decoration: none;
}

/* Estilizar el logo y hacerlo más visible */
.bottom-bar-logo {
  font-weight: bold;
  color: white; /* Cambiar el color del logo si es necesario */
}
