
.layout1{
    display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}



.bottom-bar {
    background-color:  white;
    height: 200px;
    color: white;
  }

  .bottom-bar-logo {
    font-weight: bold;
  }

  .bottom-bar-link {
    color:  white;
    text-decoration: none;
  }

  .bottom-bar-section {
    flex-grow: 2;
    padding:px;
  }
  .list-unstyled{
    padding:20px;
    margin-right: 20px;
    
  }

  .footerCont{
    background-color:#48114D;
  }