:root,
[data-bs-theme=light] {
    --bs-danger: #48114D;
}



.navbar {
    background-color: white;
    padding-left: 180px;
    display: flex;
  
    height: 98px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;


}

div nav img {
    width: 100px;
}

.nav-link:hover {
    color: white;
    background-color: #48114D;

}

.nav-link {
    margin: 10px;
    color: #48114D;
    font-weight: bold;
}

.btn {
    color: #48114D;
    border: #48114D solid;
    height: 50px;
    margin-left: 10px;
}

.btn:hover {
    color: white;
    background-color: #48114D;
}

.navbar-toggler {
    margin: 30px;
    margin-right: 100px;
}

.navbar-collapse {
    padding-left: px;
}
.navbar-nav .nav-link.active, .navbar-nav  {
    color:#48114D;
}

.nav-link.active:hover{
    color: white;
}