.preguntasFrecuentes {

    min-height: 640px;

}

#accordionFlushExample {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 300px;
}

.accordion-item {

    color: #48114D;


}

.accordion-body {
    background-color: white;
}

h2::after {
    content: "";
    width: 140px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #FDDBDB;
    left: 0;
    right: 0;
    bottom: -10px;
    opacity: .8;
}



.accordion-button:not(.collapsed) {
    background-color: white;
    box-shadow:solid #48114D;
    text-align: center;
    color: #48114D;
}

.accordion-button {
    
    color: #48114D;
    ;
}

.tituloPF{
    background-color: #48114D;
    color: white;
    padding: 10px;

}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
   
}