

#accordionFlushExample {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.accordion-item {

    color: #48114D;
}

.accordion-body {
    background-color: white;
}

h2::after {
    content: "";
    width: 140px;
    position: absolute;
    margin: 0 auto;
    height: 0px;
    background: #FDDBDB;
    left: 0;
    right: 0;
    bottom: -10px;
    opacity: .8;
}



.accordion-button:not(.collapsed) {
    background-color: white;
    box-shadow:solid #48114D;
    text-align: center;
    color: #48114D;
}

.accordion-button {
    
    color: #48114D;
    ;
}

.tituloPF{
    background-color: #48114D;
    color: white;
    padding: 10px;
    margin-left: 0px;

}

.container-fluid{
    --bs-gutter-x: 0rem;
}
.fondo-preguntas{
    min-height: 780px;
    background-image: url(/src/img/fondo_faq.svg);
    background-size: cover;
    background-position: center;

   
}